.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .login p {
    color: #ffffff94;
    font-size: 13px;
  }
  .login_title {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #06a7a5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:disabled {
    background-color: #ffffff0a;
    color: #666;
  }
  .login-button:hover:enabled {
    background-color: #00bbb9;
  }
  